.eval{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: "Jost";
}

.eval > tr > td,th{
    padding: 20px 50px;
}

.eval > tr > td:nth-of-type(2){
    text-align: center;
}

.eval > tr > td > a{
    color: rgb(0, 132, 255);
    text-decoration: underline;
    transition: color 200ms;
}

.eval > tr > td > a:hover{
    color: rgb(0, 89, 172);
}

.genlink{
    color: rgb(0, 132, 255);
    text-decoration: underline;
    transition: color 200ms;
}

.genlink:hover{
    color: rgb(0, 89, 172);
}