.peopleWrapper {
  padding-top: 7rem;
  padding-bottom: 3rem;
  height: 100%;
}

.titleText {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-shadow: 2px 2px #f26339;
  text-align: center;
  margin-bottom: 1rem;
}

.peopleHeader {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top:5%; */
}

.peopleHeader h2 {
  color: #88deff;

  margin-bottom: 3%;
}
