@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.main{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url("../../assets/mainbackground.png");
    background-size: contain;
}

.heading{
    font-family: "Koulen", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 5em;
    color: white;
}

.subHead{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    margin-top: -55px;
    font-size: 1.25em;
    color: white;
}