.body{
    padding: 10vw;
}

.leaflet-container{
    height: 100%;
    filter: saturate(1) saturate(1.2);
  }
  
.body > p{
    font-family: "Jost", sans-serif;
    text-align: justify;
    font-size: 1em;
    font-weight : 450;
}

.body > h1{
    font-family: "Jost", sans-serif;
    font-weight : 450;
    text-align: justify;
    font-size: 1.75em;
    margin-bottom: 0.25lh;
}

.body > h1:not(:nth-of-type(1)){
    margin-top: 1lh;
}

.body > button{
    margin-top: 30px;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 0.75em;
}

.aboutButton{
    background: rgb(5,255,0);
    background: linear-gradient(20deg, rgba(5,255,0,1) 0%, rgba(250,255,0,1) 100%);
}

.contactButton{
    padding: 10px 40px;
    background: rgb(0,178,255);
    background: linear-gradient(30deg, rgba(0,178,255,1) 20%, rgb(0, 92, 153) 100%);
}

.body > div.matrix{
    width: 100%;
}

.matrix > .row{
    width: 100%;
    display: flex;
    gap: 100px;
}

.row > .col{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.col > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input{

    font-family: "Jost", sans-serif;
    font-weight : 450;

    height: 40px;
    background-color: lightgray;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.75em;
}

textarea{
    
    font-family: "Jost", sans-serif;
    font-weight : 450;
    font-size: 0.75em;

    background-color: lightgray;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;

}