.bodysub{
    font-family: "Jost";
}

.bodysubsec1 > h1 , .bodysubsec2 >h1{
    font-weight: 400;
    margin-bottom: 2.5vh;
}

.listitemheading{
    font-family: "Jost";
    font-weight: bold;
    text-align: left;
}

.listitem{
    height: fit-content;
}

.listitemtitle{
    font-family: "Jost";
    font-size: .8em;
    margin-bottom: 4vh;
    
}

.bodysubsec2listview{
    display: flex;
    text-align: justify;
    gap: 8vw;
}

.bodysubsec2listview > ul{
    list-style: none;
    width: 50%;
}

.submissionForm{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
}

.submissionForm > .row{
    width: 100%;
    display: flex;
    gap: 4vw;
}

.submissionForm > .row > .col{
    width: 100%;
    display: flex;

}

.submissionForm > .row > .col > input, textarea{
    font-size: 16px;
}

.submissionForm > .row > .col > .button{
    height: 100%;
    border-radius: 8px;
    border: 0px solid;
    font-family: "Jost";
    font-size: large;

    background: rgb(5,255,0);
    background: linear-gradient(20deg, rgba(5,255,0,1) 0%, rgba(250,255,0,1) 100%);

    font-weight: 450;
}

/* .submissionForm > .row > .col > label{
    font-family: "Jost", sans-serif;
    font-weight : 450;

    height: 40px;
    background-color: lightgray;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.1;
}


.fileinput{
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
} */